<a class="{{#IfEq @exphbs.view 'index'}}active{{/IfEq}}" href="/">Home {{#IfEq @exphbs.view 'index'}}<span class="sr-only">(current)</span>{{/IfEq}}</a>
<a class="{{#IfEq @exphbs.view 'login'}}active{{/IfEq}}" href="/login">Sign In {{#IfEq @exphbs.view 'login'}}<span class="sr-only">(current)</span>{{/IfEq}}</a>
