<a class="{{#IfEq @exphbs.view 'adminHome'}}active{{/IfEq}}" href="/">Home {{#IfEq @exphbs.view 'adminHome'}}<span class="sr-only">(current)</span>{{/IfEq}}</a>
<a class="{{#IfEq @exphbs.view 'profile'}}active{{/IfEq}}" href="/profile">Profile {{#IfEq @exphbs.view 'profile'}}<span class="sr-only">(current){{/IfEq}}</span></a>
<a href="/logout">Logout</a>
