<a class="{{#IfEq @exphbs.view 'home'}}active{{/IfEq}}" href="/">Home {{#IfEq @exphbs.view 'home'}}<span class="sr-only">(current)</span>{{/IfEq}}</a>
<!-- <a class="{{#IfEq @exphbs.view 'tasks'}}active{{/IfEq}}" href="/tasks">Tasks {{#IfEq @exphbs.view 'tasks'}}<span class="sr-only">(current)</span>{{/IfEq}}</a> -->
<a class="{{#IfEq @exphbs.view 'positions'}}active{{/IfEq}}" href="/positions">Jobs {{#IfEq @exphbs.view 'positions'}}<span class="sr-only">(current)</span>{{/IfEq}}</a>
<a class="{{#IfEq @exphbs.view 'profile'}}active{{/IfEq}}" href="/profile">Profile {{#IfEq @exphbs.view 'profile'}}<span class="sr-only">(current){{/IfEq}}</span></a>
<a href="/logout">Logout</a>
