<textarea rows="10" name="txtContent" placeholder="Write your response here"></textarea>

<script src="/ext/simplemde/dist/simplemde.min.js"></script>
<script defer>
    var simplemde = new SimpleMDE();
</script>
