<!-- The default layout. -->
<!doctype html>
<html>

<head>
    <title>{{title}} | Atos Recruit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link href="/ext/font-awesome-bower/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/ext/simplemde/dist/simplemde.min.css" />
    <script src="/ext/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/ext/jquery-ui/jquery-ui.min.js"></script>
    <script src="/ext/moment/min/moment.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript" defer></script>
</head>

<body>
    <h1 class="brand"><a id="navbutton"><i class="fa fa-bars"></i></a><img src="/static/img/atoslogo.jpg" alt="Atos" /> Recruit</h1>
    <nav class="navbar">
        {{#if user}}
            {{#IfEq user.userType "recruiter"}}
                {{>navAdmin}}
        {{else}}
            {{>navSignedIn}}
            {{/IfEq}}
        {{else}}
            {{>nav}}
        {{/if}}
    </nav>


    <div class="main">
        {{{body}}}
    </div>

    {{> footer}}
    <script defer>
        $('time').each(function() {
            $(this).html(moment($(this).attr('datetime')).format($(this).attr('data-format')));
        });
    </script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>
