<h1>Technical</h1>
<p>Atos Recruit uses a Node.js webserver powered by a PostgreSQL backend.</p>
<h2>Node technologies in use:</h2>
<ul>
    <li>Express - allows deep routing and middleware functionality.</li>
    <li>Passport - simple user authentication and sessions.</li>
    <li>Sequelize - better database integration for Node.js.</li>
    <li>Gulp - allows us to run build scripts.</li>
    <li>Bower - a package manager for front-end dependencies.</li>
    <li>Flash - error messages amongst other things.</li>
    <li>Bcrypt - hide passwords via one-way hashing.</li>
    <li>Bluebird - for running synchronous calls asynchronously.</li>
</ul>

<h2>Frontend libraries in use:</h2>
<ul>
    <li>Font-Awesome - icons.</li>
    <li>jQuery - the defacto Javascript DOM library.</li>
    <li>Moment - for manipulating time.</li>
    <li>Sass - a precompiler for CSS.</li>
    <li>Handlebars - sensible templating engine.</li>
</ul>
