<h1>Welcome back, {{user.nameFirst}}</h1>
<section>
    <h2>Your Open Jobs</h2>
    {{#each myPositions}}
        <section class="card">
            <h2>{{this.nameText}}</h2>
            <p>{{this.description}}</p>
            <p><em>Closes: {{{FormatDate this.closeDate "shortd"}}}</em></p>
            <p><a href="/positions/{{this.jobID}}/view">More</a></p>
        </section>
    {{/each}}
    <a class="button" href="/positions/create"><i class="fa fa-plus"></i> New Job Opening</a>
</section>
