<form action="/positions/create" method="post">
    <div class="nagbar hidden error">
        {{#if message}}{{message}}{{/if}}
    </div>
    <h1>Create new job position</h1>
    <div class="form-row">
    <input type="text" name="name" placeholder="Position name" required />
    <input type="number" name="salary" placeholder="Salary (£)" />
    </div>
    <textarea name="description" placeholder="Enter a job description" required></textarea>
    <p>Start and end times:</p>
    <div class="form-row">
        <input type="date" name="startdate" required/>
        <input type="date" name="enddate" required/>
    </div>
    <p id="datelabel">This job will be open for 7 days.</p>
    <div class="form-row">
        <button type="submit">Create</button>
        <a href="/" class="button">Cancel</a>
    </div>
</form>
<script defer>
    var dateCtrlAdjust = function() {
        var a = moment(startdateInput.val());
        var b = moment(enddateInput.val());
        $('#datelabel').html("This job will be open for " + b.diff(a, 'days') + (b.diff(a, 'days') == 1 ? ' day.' : ' days.'));
        startdateInput.attr('min', moment().format('YYYY-MM-DD'));
        enddateInput.attr('min', startdateInput.attr('min'));
        startdateInput.attr('max', moment(enddateInput.val()).subtract(1, 'days').format('YYYY-MM-DD'));
    }

    var startdateInput = $('input[name="startdate"]');
    var enddateInput = $('input[name="enddate"]');
    if (startdateInput.attr('type') !== 'date') {
        $('input[name="startdate"], input[name="enddate"]').datepicker({
            dateFormat: 'yyyy-mm-dd'
        });
    }
    startdateInput.val(moment().format('YYYY-MM-DD'));
    enddateInput.val(moment().add(7, 'days').format('YYYY-MM-DD'));
    dateCtrlAdjust();

    startdateInput.change(function() {
        dateCtrlAdjust()
    });
    enddateInput.change(function() {
        dateCtrlAdjust()
    });
</script>
