<h1>Delete Your Account</h1>
<p>You're about to delete your account.</p>
{{#IfEq user.userType "applicant"}}
    <p>It should be noted that this process is irreversable and you will lose all job applications and task attempts you've made.</p>
    {{else}}
        <p>It should be noted that this process is irreversable and you will lose all job positions and tasks you've made.</p>
{{/IfEq}}

<p>If you are sure you want to delete your account, type in your password again below:</p>
{{#if message}}
    <div class="nagbar error">{{message}}</div>
{{/if}}
<form method="post">
    <input type="password" name="password" placeholder="Password" />
    <button class="error" type="submit">Delete Account
    </button>
</form>
