<h1>Welcome back, {{user.nameFirst}}!</h1>
<h2>Your Applications</h2>
<div class="nagbar success hidden">{{successMessage}}</div>
{{#each applications}}
    <section class="card">
        <h2>{{this.position.nameText}}</h2>
        <p>Application started on {{{FormatDate this.createdAt "shortd"}}}</p>
        <p>{{this.score}} {{#IfEq this.score "1"}}point{{else}}points{{/IfEq}} scored</p>
        <p><a class="button" href="/positions/{{this.position.jobID}}/view">View more</a></p>
    </section>
{{/each}}
<a class="button" href="/positions">Find a job</a>
