    <div class="jumbotron">
        <h1 class="display-3">Start your Atos journey here.</h1>
        <p class="lead">Atos UK and Ireland is looking for great people to work with us. Sign up now to start your application.</p>
        <a class="button" href="/register" role="button">Sign up</a>
        <p>Already have an account? <a href="/login">Log in here</a>.</p>
    </div>
