<form action="/login" method="post">
    <h1>Log In</h1>
    {{#if message}}
        <div class="nagbar error">{{message}}</div>
    {{/if}}
    <input type="text" name="email" placeholder="Email Address" required />
    <input type="password" name="password" placeholder="Password" required />
    {{#if redirect}}
        <input type="hidden" name="redirect" value="{{redirect}}" />
    {{/if}}
    <button type="submit">Log In</button>

    <h2>No account?</h2>
    <a class="button" href="/register"> Make one now</a>
</form>
