<p><a href="/positions">Back to search</a></p>
<h1>{{position.nameText}}</h1>
<h2>{{position.user.company}}</h2>
<p>{{position.description}}</p>
<p>Closes on {{{FormatDate position.closeDate "longd"}}}</p>

{{#IfEq user.userType "applicant"}}
    {{#if application}}
        <p>Application started: {{{FormatDate application.createdAt "shortd"}}}</p>
        <h2>Tasks to complete</h2>
        {{#each tasksPending}}
            <section class="card">
                <h3>{{this.name}}</h3>
                <p>Points available: {{this.maxPoints}}</p>
                <a href="/task/{{this.taskId}}" class="button-small">Attempt</a>
            </section>
        {{/each}}
        <h2>Tasks completed</h2>
        {{#each tasksCompleted}}
            <section class="card">
                <h3>{{this.name}}</h3>
                {{#if isCompleted}}
                    <p>Score: {{this.score}}/{{this.maxPoints}}</p>
                    {{else}}
                    <p><em>This task has not been assessed.</em></p>
                    <p>Points available: {{this.maxPoints}}</p>
                {{/if}}
                <a href="/task/{{this.taskId}}/view" class="button-small">View Attempt</a>
            </section>
        {{/each}}
    {{else}}
        <a class="button" href="/positions/{{position.jobID}}/apply">Apply</a>
    {{/if}}
{{/IfEq}}

{{#IfEq user.userType "recruiter"}}
    <h2>Tasks</h2>
    {{#each tasks}}
        <p>"{{this.name}}"</p>
    {{/each}}
    <a class="button" href="/positions/{{position.jobID}}/addTask"><i class="fa fa-plus"></i> Create New Task</a>
    <h2>Applications</h2>
    {{#each applications}}
        <section class="flex card">
            <img src="/content/{{this.user.profilePictureUri}}" style="height:6rem; float:left; margin-right:1rem"/>
            <div>
                <h3>{{this.user.nameFirst}} {{this.user.nameLast}}</h3>
                <p>Score: {{this.score}}</p>
                <a class="button-small" href="/profile?username={{this.user.username}}">View More</a>
            </div>
        </section>
    {{/each}}
{{/IfEq}}
