<h1>{{#if query}}Search results for "{{query}}"{{else}}Jobs{{/if}}</h1>
<form action="/positions/search" method="get">
    <input name="q" type="text" placeholder="Search..." value="{{query}}"/>
    <button type="submit">Search</button>
</form>
{{#each positions}}
    <section class="card">
        <h2>{{this.nameText}}</h2>
        <h3>{{this.user.company}}, closes on {{{FormatDate this.closeDate "shortd"}}}</h3>
        <p>{{this.description}}</p>
        <p><a href="/positions/{{this.jobID}}/view" class="button-small">View</a></p>
    </section>
{{/each}}
