<h2>Edit</h2>
<form method="post">
    <h1>{{user.nameFirst}} {{#ToUpper}}{{user.nameLast}}{{/ToUpper}}</h1>
    <div class="form-row">
        <input type="text" name="nameFirst" placeholder="First Name" value="{{user.nameFirst}}" />
        <input type="text" name="nameLast" placeholder="Last Name" value="{{user.nameLast}}" />
    </div>
    <div class="flex">
        <div>
            <div class="imgThumb">
                {{#if user.profilePictureUri}}
                    <img class="blur" src="/content/{{user.profilePictureUri}}" alt="Your profile picture"/>
                {{else}}
                    <div>
                    </div>
                {{/if}}
                <a href="/profile/picture">Edit Image</a>
            </div>
            <h2>Basic Details</h2>
            <table>
                <tr>
                    <td>Email Address</td>
                    <td><input type="text" value="{{user.username}}" placeholder="email" name="username" /></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{#with user}}
                        <input type="text" value="{{addressBuildingNo}}" placeholder="Building Name/Number" name="addressBuildingNo" />
                        <input type="text" value="{{addressFirstLine}}" placeholder="First Line" name="addressFirstLine" />
                        <input type="text" value="{{addressSecondLine}}" placeholder"Second Line" name="addressSecondLine" />
                        <input type="text" value="{{addressPostalCode}}" placeholder"Post Code" name="addressPostalCode" />
                    </td>{{/with}}
                </tr>
            </table>
        </div>
        <div>
            <h2>Actions</h2>
            <button type="submit">Save</button>
            <a href="/profile" class="button">Cancel</a>
        </div>
    </div>
</form>
