<h1>{{user.nameFirst}} {{#ToUpper}}{{user.nameLast}}{{/ToUpper}}</h1>
<div class="flex">
    <div>
        {{#if user.profilePictureUri}}
            <div class="imgThumb">
                <img src="/content/{{user.profilePictureUri}}" alt="Your profile picture"/>
            </div>
        {{/if}}
        <h2>Basic Details</h2>
        <table>
            <tr>
                <td>Email Address</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{#with user}}
                    {{addressBuildingNo}}<br />
                    {{addressFirstLine}}<br />
                    {{addressSecondLine}}<br />
                    {{addressPostalCode}}<br />
                </td>{{/with}}
            </tr>
        </table>
    </div>
    <div>
        <h2>Actions</h2>
        <p><a class="button" href="/profile/edit">Edit profile</a></p>
        {{#IfEq user.userType "applicant"}}
            {{#if user.cvUri}}
                <p><a class="button" href="/profile/cv">Update CV</a></p>
                <p><a href="/content/{{user.cvUri}}">View CV</a></p>
            {{else}}
                <p><a class="button" href="/profile/cv">Upload CV</a></p>
            {{/if}}
        {{/IfEq}}
        <h3>Danger Zone</h3>
        <a href="/delete" class="error button">Delete Account</a>
    </div>
</div>
<section>
    <h2>Debugging Information</h2>
    <code><pre>{{userNice}}</pre></code>
</section>
