{{#with profileUser}}
    <h1>{{nameFirst}} {{#ToUpper}}{{nameLast}}{{/ToUpper}}</h1>
    <div>
        {{#if profilePictureUri}}
            <div class="imgThumb">
                <img src="/content/{{profilePictureUri}}" alt="Your profile picture" />
            </div>
        {{/if}}

        <table>
            {{#IfEq userType "recruiter"}}
                <tr>
                    <td>Company</td>
                    <td>{{company}}</td>
                </tr>
                <tr>
                    <td>Position</td>
                    <td>{{jobPosition}}</td>
                </tr>
            {{/IfEq}}
            <tr>
                <td>Email Address</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{addressBuildingNo}}
                    <br /> {{addressFirstLine}}
                    <br /> {{addressSecondLine}}
                    <br /> {{addressTown}}
                    <br /> {{addressPostalCode}}
                </td>
            </tr>
            <tr>
                <td>
                    {{#if cvUri}}
                        <a href="/content/{{cvUri}}" class="button">View CV</a>
                    {{else}}
                        <p><em>This user has not uploaded a CV.</em></p>
                    {{/if}}
                </td>
            </tr>
        </table>
    </div>
{{/with}}
