<form action "/register" method="post">
    <h1>Register for Atos Recruit</h1>
    <div class="nagbar hidden error">
        {{#if message}}{{message}}{{/if}}
    </div>
    <div class="form-row">
        <input type="text" name="firstname" placeholder="First Name" required />
        <input type="text" name="lastname" placeholder="Last Name" required />
    </div>
    <input type="text" name="email" placeholder="Email Address" required />
    <div class="form-row">
        <input type="password" id="passwordBox" name="password" placeholder="Password" required />
        <input type="password" id="passwordConfirmBox" name="passwordConfirm" placeholder="Confirm your password" required />
    </div>
    <p>Are you an applicant or a recruiter?</p>
    <div class="form-row">
        <span><input type="radio" name="type" value="applicant" checked /> Applicant</span> <span><input type="radio" name="type" value="recruiter" /> Recruiter</span>
    </div>
    <p>
        <button type="submit">
            Register</button>
        <a class="button" href="/login">Cancel</a>
    </p>
</form>
<script defer>
    $('#passwordConfirmBox').on('input', function() {
        if ($('#passwordBox').val() !== $('#passwordConfirmBox').val()) {
            $('.nagbar').removeClass('hidden');
            $('.nagbar').html('The passwords do not match.');
        } else {
            $('.nagbar').addClass("hidden");
        }
    })
</script>
