<h3>{{position.nameText}}</h3>
<h1>Create a new task</h1>
<form method="post" action="/positions/{{position.jobID}}/addTask">
    <div class="form-row">
        <input type="text" name="name" placeholder="Task Name" required/>
        <input type="number" name="maxpoints" placeholder="Points Available" />
    </div>
    <textarea rows="7" placeholder="Description" name="description"></textarea>
    <h3>Task type</h3>
    <div class="form-row">
        <span><input type="radio" name="type" value="doc"/> Document</span>
        <span><input type="radio" name="type" value="txt"/> Text</span>
        <span><input type="radio" name="type" value="img" /> Image(s)</span>
    </div>
    <div id="doc-fields" class="hideable hidden">
        <div class="form-row">
            <p>Restrict input data to (list of filetypes): </p>
            <input type="text" name="doctype" placeholder="e.g. .doc, .pdf" />
        </div>
    </div>
    <div id="txt-fields" class="hideable hidden">
        <div class="form-row">
            <input type="number" name="maxtxtlength" placeholder="Text maxmimum word count (optional)" />
        </div>
    </div>
    <div id="img-fields" class="hideable hidden">
        <div class="form-row">
            <input type="number" name="maximages" placeholder="Maximum number of images" min="0" max="10"/>
        </div>
    </div>
    <p>
        <button type="submit">Create</button>
        <a class="button">Cancel</a>
    </p>
</form>
<script defer>
    $(document).ready(function () {
        $('input[name~="type"]').change(function() {
            $('#doc-fields,#txt-fields,#img-fields').addClass('hidden');
            $('#' + $(this).attr('value') + '-fields').removeClass('hidden');
        });
    })
</script>
