<h1>View Task Attempt</h1>

<h2>"{{task.name}}"</h2>
<p>{{task.description}}</p>
<hr />
{{#IfEq task.taskType "txt"}}
    {{{content}}}
{{/IfEq}}
{{#IfEq task.taskType "img"}}
    {{#each content}}
        <img src="/content/{{this}}"/>
        {{!-- TODO: FIX THIS!  --}}
    {{/each}}
{{/IfEq}}

<a href="/positions/{{task.positionId}}/view" class="button">Back</a>
<pre>
{{error}}
</pre>
