<h3>{{position.nameText}}</h3>
<h1>Attempt Task</h1>

<h2>{{task.name}}</h2>
<p>{{task.description}}</p>

<form enctype="multipart/form-data" method="post">
    {{#IfEq task.taskType "txt"}}
        {{> TaskTxt}}
    {{/IfEq}}
    {{#IfEq task.taskType "doc"}}
        {{> TaskDoc}}
    {{/IfEq}}
    {{#IfEq task.taskType "img"}}
        {{> TaskImg}}
    {{/IfEq}}
    <div class="form-row">
        <button type="submit">Save and upload</button>
        <a class="button" href="/positions/{{position.jobID}}/view">Cancel</a>
    </div>
</form>
