<h2>Upload</h2>
<h1>{{title}}</h1>
{{#IfEq picture ""}}
{{else}}
<!-- display current picture -->
<div class="imgThumb">
    <img src="{{picture}}" alt="Your profile picture"/>
</div>
{{/IfEq}}
<form enctype="multipart/form-data" method="post">
    <input type="file" accept="{{accept}}" multiple="{{multiple}}" name="{{fieldName}}" />

    <div class="form-row">
        <button type="submit">Upload</button>
        <a class="button" href="{{backUrl}}">Cancel</a>
    </div>
</form>
