<h1>Welcome to Atos Recruit, {{user.nameFirst}}!</h1>
<p>Before you start applying for positions, we'd like to ask you a few questions to complete your profile.</p>
<form action="welcome" method="post">
    <section>
        <h2>Your Address</h2>
        <input type="text" placeholder="First Address Line" name="addressFirstLine" required />
        <input type="text" placeholder="Building Number (Optional)" name="addressBuildNo" />
        <input type="text" placeholder="Second Address Line/Town" name="addressSecondLine" required />
        <div class="form-row">
            <input type="text" placeholder="Postal Code" name="addressPostcode" required/>
        </div>
    </section>

    {{#IfEq user.userType "recruiter"}}
    <section>
        <h2>Recruiter details</h2>
        <p>These will be used for displaying information on the job adverts you create.</p>
        <input type="text" name="company" placeholder="Your company" required/>
        <input type="text" name="jobtitle" placeholder="Your job title" required/>
    </section>
    {{/IfEq}}

    {{#IfEq user.userType "applicant"}}
    <section>
        <h2>Applicant details</h2>
    </section>
    {{/IfEq}}

    <p>Next, we'll take you to your profile to continue adding details if neccessary.</p>
    <button type="submit">Continue</button>
</form>
