#navbutton {
    width: $nav_button_height;
    height: $nav_button_height;
    display: block;
    z-index: $nav_zindex - 1;
    background-color: rgba($color_black, 0.6);
    color: $color_white;
    float: left;
    margin: 0 0.5rem 0 0;
    transition: left 0.5s ease-in-out;
    text-align: center;
    cursor: pointer;
    &.active {
        //left:calc(100% - #{$nav_button_height});
        //position:absolute;
        //margin:0;
    }
    i {
        font-size: $nav_button_height - 2rem;
        margin: 1rem 0;
    }
    @include respond-to (desktop) {
        display: none;
    }
}

.jt-bg {
    width:100%;
    min-height:60vh;
    background-image:url('https://unsplash.it/1920/1080/?blur&random');
    position:relative;
    top:-2.25rem;
}

h1.brand {
    position: absolute;
    width: 100%;
    background-color: $color_bg;
    border-bottom: 1px solid $color_text;
    color: $color_brand;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
    margin: 0;
    z-index: $nav_zindex - 2;
    img {
        height: 1.8rem;
        @include respond-to(tablet) {
            height: 2rem;
        }
        @include respond-to(desktop) {
            height: 2.2rem;
        }
    }
    @include respond-to (tablet) {
        font-size: 3rem;
    }
    @include respond-to (desktop) {
        position: inherit;
        border-bottom: none;
        width: 50%;
        // background-color: transparent;
        padding: 0 25%;
    }
}
@keyframes buttonClick {
    0% {
        box-shadow: 0 0.25rem lighten($color_text, 30);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0.25rem lighten($color_text, 30) inset;
    }
}
// button styling.
a.button,
button {
    display: inline-block;
    background-color: $color_bg;
    min-width: 10rem;
    text-align: center;
    line-height: 1.25rem;
    border: 2px solid $color_text;
    border-radius: 4rem;
    padding: 0.5rem !important;
    margin: 0.2rem 0;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 transparent;
    transition: box-shadow $el_transition_length ease-in-out, bottom $el_transition_length ease-in-out;
    &::after,
    &::before {
        display: none;
    }
    &:hover {
        box-shadow: 0 0.25rem lighten($color_text, 30);
        bottom: 0.25rem;
        cursor: pointer;
    }
    &:active {
        animation: buttonClick $el_transition_length;
        box-shadow: 0 0.25rem lighten($color_text, 30) inset;
        bottom: 0;
    }
}
.button-small {
    @extend a.button;
    font-size: 0.8rem;
    padding: 0.1rem !important;
    border-radius: 0.5rem;
    min-width: 4rem;
}
button {
    font-size: 1rem;
}
//form elements
form {
    .editor-toolbar,
    .editor-toolbar * {
        all: unset;
    }
    width: 100%;
    @include respond-to(tablet) {
        // width: 70%;
        margin: 0 auto;
        &:not(.CodeMirror-lines *) {
            text-align: center;
        }
    }
    & > *:not(script, .cm-s-paper *) {
        display: block;
        margin: 0.4rem 0;
        width: 100%;
        @include respond-to(tablet) {
            width: auto;
            margin: 0.4rem auto;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: left;
        width: 100%;
        * {
            display: inline;
            &:not(:last-child) {
                margin-right: 0.3rem;
            }
        }
    }
    .form-row {
        @include respond-to(tablet) {
            display: flex;
        }
        span * {
            width: auto;
            float: left;
        }
    }
    input {
        width: 100%;
        margin: 0.1rem;
        font-size: 1.2rem;
        &[type="date"],
        &[type="number"],
        &[type="password"],
        &[type="text"] {
            border-width: 0 0 0.2rem 0;
            border-style: solid;
            position: relative;
            transition: border-color $el_transition_length ease-in-out, padding-bottom $el_transition_length ease-in-out;
            bottom: 0;
            padding-bottom: 0;
            border-color: lighten($color_text, 40);
            &:focus,
            &:hover {
                padding-bottom: 0.2rem;
                border-color: $color_text;
            }
        }
        &[type="radio"] {
            width: 1rem;
            height: 1rem;
        }
    }
    textarea {
        @extend input;
        @extend input[type="text"];
    }
    section {
        padding-bottom: 2rem;
        border-bottom: 0.2rem dashed lighten($color_text, 50);
    }
}
.nagbar {
    width: 100%;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.2rem;
    font-size: 1.1rem;
    opacity: 1;
    transition: opacity $el_transition_length ease-in-out;
    &.hidden {
        opacity: 0;
    }
}
.imgThumb {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    div {
        background-color: $color_brand;
        width: 100%;
        height: 100%;
        display: inline-block;
        @include respond-to(desktop) {
            width: calc(100% - 1rem);
            height: calc(100% - 1rem);
        }
    }
    a {
        display:block !important;
        width:calc(100% - 1rem) !important;
        line-height: 10rem;
        color: $color_white;
        position:absolute !important;
        top:0;
        text-align:center;
        vertical-align: middle;
        @include respond-to (desktop) {
            top: 0.5rem !important;
        }
        &::before {
            display:none;
        }
    }
}
