// useful styles.
.sr-only {
    display: none;
}

.hideable {
    max-height: 100rem;
    transition: max-height 0.25s ease-in-out;
    overflow: visible;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

// responsive mixin.
@mixin respond-to($screen) {
     @if $screen == hidpi{
        @media (min-width: 2500px) {
             @content;
        }
    }
    @else if $screen == desktop {
         @media (min-width: 1200px){
            @content;
        }
    }
    @else if $screen == tablet {
         @media (min-width: 900px){
            @content;
        }
    }
    @else if $screen == mobilarge {
         @media (min-width: 480px){
            @content;
        }
    }
    @else if $screen == mobionly {
         @media (max-width: 480px){
            @content;
        }
    }
}
//colours.
.error {
    background-color: lighten($color_red,20) !important;
    color: darken($color_red, 20) !important;
    border-color: darken($color_red, 20);
}
.success {
    background-color: lighten($color_green, 20) !important;
    color: darken($color_green, 20) !important;
    border-color: darken($color_green, 20) !important;
}

.blur {
    -webkit-filter: blur(5px) brightness(60%);
    filter: blur(5px) brightness(60%);
}
