body,
html {
    margin: 0;
    padding: 0;
    background-color: $color_bg;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
nav.navbar {
    $color_nav: $color_secondary;
    background-color: $color_nav;
    color: $color_white;
    width: 75%;
    height: calc(100% - #{$nav_button_height});
    position: absolute;
    top: $nav_button_height;
    left: calc(-100% - #{$nav_button_height});
    z-index: $nav_zindex;
    padding: 0;
    transition: left 0.5s ease-in-out;
    &.active {
        left: 0;
    }
    a {
        display: block;
        color: inherit;
        width: calc(100% - 20px);
        height: $nav_el_height;
        line-height: $nav_el_height;
        padding: 0 10px;
        z-index: $nav_zindex+1;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        text-decoration: none;
        vertical-align: middle;
        &.active {
            color: lighten($color_secondary, 20);
            background-color: darken($color_secondary, 10);
            &:hover {
                color: inherit;
            }
        }
        &:hover {
            background-color: lighten($color_secondary, 20);
        }
    }
    @include respond-to(desktop) {
        width: 100%;
        height: $nav_height;
        position: inherit;
        z-index: auto;
        padding: 0 25%;
        a {
            min-width: 100px;
            width: auto !important;
            float: left;
            padding: 0.1rem 10px !important;
        }
    }
}
.main {
    width: calc(100% - 2rem);
    min-height: calc(100vh - #{$footer_height} - 6rem);
    margin: 0;
    padding: $nav_button_height 1rem 1rem;
    &::before {
        height: 100%;
        display: block;
        z-index: 7;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        background-color: transparent;
        transition: background-color 0.5s ease-in-out;
        content: "";
    }
    &.active::before {
        background-color: rgba($color_black, 0.5);
        width: 100%;
    }
    @include respond-to(mobilarge) {
        padding: $nav_button_height 1rem 1rem;
        width: 50%;
        margin: 0 auto;
    }
    @include respond-to(desktop) {
        min-height: calc(100vh - #{$footer_height} - 6rem - #{$nav_height});
        padding: 1rem 0;
    }
    section {
        &.card {
            box-shadow: 0 0 lighten($color_secondary, 20);
            background-color: darken($color_bg, 10);
            width: calc(100% - 1rem);
            padding: 0.5rem;
            bottom: 0;
            position: relative;
            transition: box-shadow $el_transition_length ease-in-out, bottom $el_transition_length ease-in-out;
            margin-top: 0.2rem;
            @include respond-to(tablet) {
                width: 90%;
                margin: 0.2rem auto;
            };
            // &:hover {
            //     box-shadow: 0 0.25rem lighten($color_secondary, 30);
            //     bottom: 0.25rem;
            // }
        }
    }
    table {
        margin: 0 auto;
    }
}
// flex classes
div.flex {
    @include respond-to(desktop) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        div {
            flex-grow: 1;
            padding: 0.5rem;
        }
    }
}
footer {
    min-height: calc(#{$footer_height} - 2rem);
    overflow: hidden;
    background-color: $color_brand;
    color: $color_white;
    width: calc(100% - 2rem);
    padding: 1rem;
    & > * {
        width: 100%;
        text-align: center;
        @include respond-to(desktop) {
            width: 75%;
            margin: 0 auto;
        }
    }
}
