@import url(https://fonts.googleapis.com/css?family=Bitter);
* {
    font-family: "Lato", sans-serif;
}
code,
code * {
    font-family: "Source Code Pro", Monaco, monospace;
}
h1,
h2,
h3,
h4,
nav * {
    font-family: "Bitter", Rockwell, sans-serif;
}
.main p {
    font-size: 1.25rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.main a:not(.fa):not(.button) {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color_brand,0.4);
        z-index: -1;
        transform: translateY(90%);
        transition: transform $el_transition_length linear;
    }
    &:hover {
        // color: $color_white;
        &::before {
            transform: translateY(0);
        }
    }
}
