// colors
$color_white: #ffffff;
$color_black: #222222;
$color_brand: #0066a1;
$color_secondary: #404040;

$color_red: #e74c3c;
$color_green: #5acb39;
$color_yellow: #cda000;

$color_bg: $color_white;
$color_text: $color_black;

// sizing
$nav_font_size: 2rem;
$nav_el_height: $nav_font_size + 0.5rem;
$nav_height: $nav_el_height + 0.2rem;
$nav_width: 30rem;
$nav_zindex: 10;

$nav_button_height: 4rem;

$footer_height: 10rem;

$el_transition_length: 0.1s;
